*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #121212;
  --black: #000;
  --grey: #1f1f1f;
  --button-background: #f0f0f0;
  --text-color: #a8a8a8;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  line-height: 1.6;
  color: var(--button-background);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--button-background);
  padding: 0.8rem;
  border-radius: 50px;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* Utility Classes */

.contanier {
  max-width: 1100px;
  margin: 0 auto;
}

/* Navigation */

.header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;

}
.header-brand-logo{

  background-color: transparent;

}



.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin: 15rem 20rem;
  /* width: 100%; */
  /* background-color: white; */
}
.search-table{
  width: 100%;
  border-collapse: collapse;
  font-family: inherit;
  padding: 2rem 2rem;
  /* background-color: white; */
  border: 1px solid var(--text-color);
}
.search-table-head{
  background-color: transparent;
  color: var(--text-color);
  padding: 0.8rem;
  border-bottom: 1px solid var(--text-color);
}
.search-table-head th {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--text-color); 
}
.search-body td{
  text-align: center;
  border-left: 1px solid var(--text-color); 
  /* color: var(--text-color); */

}

/* TODO? Convert search bar into input text fild */

.header-navigation{
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--grey);
  font-family: inherit;
}
.header-input{
  background-color: transparent;
  border: none;
  font-family: inherit;
  outline: none;
  color: var(--text-color);
}

@media (max-width: 992px) {
.search-container{
  margin: 15rem 10rem;
}
}