*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #121212;
  --black: #000;
  --grey: #1f1f1f;
  --button-background: #f0f0f0;
  --text-color: #a8a8a8;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  line-height: 1.6;
  color: var(--button-background);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--button-background);
  padding: 0.8rem;
  border-radius: 50px;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* Utility Classes */

.contanier {
  max-width: 1100px;
  margin: 0 auto;
}

/* Navigation */

.header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;

}

.header-search-placeholder {
  color: var(--text-color);
}

.header .header-search-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--grey);
  border-radius: 2rem;
  padding: 1rem 1rem;
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin: 20rem ;
}