*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-dark: #121212;
    --black:#000;
    --grey: #1f1f1f;
    --button-background: #f0f0f0;
    --text-color: #a8a8a8;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
    line-height: 1.6;
    color: var(--button-background);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--button-background);
    padding: 0.8rem;
    border-radius: 50px;
    font-weight: 600;

}
ul{
    list-style:none;
}
img{
    max-width: 100%;
}
/* Utility Classes */

.contanier{
    max-width: 1100px;
    margin: 0 auto;
}

/* Navigation */

.header{
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}
.header-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    gap: 0.8rem;
    
}
.header-search-placeholder{
    color: var(--text-color);
}
.header-navigation .header-home-button,
.header-actions .header-user-profile{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    padding: 0.8rem;
    background-color: var(--grey);
    border-radius: 100%;
}
.header .header-search-bar{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--grey);
    border-radius: 2rem;
    padding: 0px 1rem;  
    
}

.header .header-actions{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: right;
   
}
/* Main section */
.web-layout{   
    margin: 4.5rem 1rem 0.6rem;  
}
.layout-container{
    display: flex;
    gap:0.5rem;
    height: 83vh;   
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-dark);
    padding: 1rem;
    border-radius: 10px;
    width: 25rem;

}
.sidebar-library-header{
    display: flex;
    gap:2rem;
    align-items: baseline;
    justify-content: space-between;
    
}
.sidebar-create-playlist-btn, .sidebar-library-filters-btn,.content-area-content-filters-btn{
    padding: 0.4rem 0.8rem;
    background-color: var(--grey);
    color: var(--button-background);
    font-size: 0.8rem; 
}
.sidebar-library-filters{
    display: flex;
    gap: 1rem;
}
.sidebar-library-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-search-right{
    color: var(--text-color);
}
.main-text{
    font-size: 0.9rem;
    color: var(--text-color);
}

.content-area{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 2;
    background: #1F1F1F;
    background: linear-gradient(180deg,rgba(31, 31, 31, 1) 0%, rgba(18, 18, 18, 1) 100%);
    padding: 1rem 3rem;
    border-radius: 10px;
    overflow-y: scroll;
    
}

.sidebar-playlist-cover{
    width: 3rem;
}
.sidebar-playlist-cover img{
    border-radius: 5px;
}
.sidebar-playlist-item{
    display: flex;
    gap: 1rem;
}
.sidebar-playlist-title{
    font-weight: 500;
}

.sidebar-playlist-type{
    color:var(--text-color);
    font-size: 0.8rem;
}
.content-area-content-filters-btn{
    background-color: #404040;
}
.current{
    background-color: var(--button-background);
    color: var(--background-dark);
}
.content-area-section-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: end;
}
.content-area-section-action{
    font-size: 0.9rem;
    color: var(--text-color);
}
.content-area-music-sections{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.content-area-music-grid{
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}
.content-area-music-card{
    max-width: 9rem;
    min-width: 9rem;
    
}
.content-area-music-cover img{
    border-radius: 8px;
}
.content-area-music-artist{
    font-size: 0.8rem;
    color: var(--text-color);
}
.content-area::-webkit-scrollbar {
    width: 10px;    
}
/* Handle */
.content-area::-webkit-scrollbar-thumb{
background: rgba(255 , 255, 255, 0.3);

/* border-radius: 5px; */
}
.content-area-music-grid::-webkit-scrollbar{
    width: 1px;
}

.music-player-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.3rem;
}
.music-player-song-cover{
    width: 3rem;
}
.music-player-song-cover img{
    border-radius: 5px;
}
.music-player-song-info{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.music-player-song-details .music-player-song-title{
    font-size: 0.8rem;
}
.music-player-song-details .music-player-song-artist{
    color: var(--text-color);
    font-size: 0.7rem;
}
.music-player-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.music-player-controls-list{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.music-player-controls-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.music-player-progress-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.music-player-progress-container .music-player-music-time{
    color: var(--text-color);
    font-size: 0.8rem;
}
.music-player-volume-controls{
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: center;
}
.music-player-progress-bar{
    appearance: none;
    width: 35rem;
    height: 0.3rem;
    background-color: var(--grey);
    border-radius: 2rem;
    overflow: hidden;
    
}

.music-player-progress-bar::-webkit-slider-thumb{   
    -webkit-appearance: none;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    background: #fff;
    outline: none;
    cursor: pointer;
    box-shadow: -400px 0 0 400px #fff;
}
.music-player-volume-progress-bar{
    appearance: none;
    /* width: 40rem; */
    height: 0.3rem;
    background-color: var(--grey);
    border-radius: 2rem;
    overflow: hidden;
}
.music-player-volume-progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    background: #fff;
    outline: none;
    cursor: pointer;
    box-shadow: -400px 0 0 400px #fff;
}
