*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-dark: #121212;
    --black:#000;
    --grey: #1f1f1f;
    --button-background: #f0f0f0;
    --text-color: #a8a8a8;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
    line-height: 1.6;
    color: var(--button-background);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--button-background);
    padding: 0.8rem;
    border-radius: 50px;
    font-weight: 600;

}
ul{
    list-style:none;
}
img{
    max-width: 100%;
}
/* Utility Classes */

.contanier{
    max-width: 1100px;
    margin: 0 auto;
}

/* Navigation */

.navbar{
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}
.navbar__container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
.navbar__logo i{
  color: var(--button-background);
  
  
}
.navbar__left{
    display: flex;
    gap: 1rem;
    
}
.navbar__text{
    color: var(--text-color);
}
.navbar__left .navbar__home,
.navbar__right .navbar__user-icon{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--grey);
    border-radius: 100%;
}
.navbar .navbar__search{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--grey);
    border-radius: 2rem;
    padding: 1rem;
   
    
}

.navbar .navbar__right{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: right;
   
}
